.ytp-progress-bar-container .ytp-progress-bar
.ytp-progress-list {
  position: relative;
}

.bookmark {
  position: absolute;
  top: -2px;
  width: 5px;
  height: 10px;
  background-color: #fc0;
  border-radius: 10px;
  z-index: 100;
}
